MY_PORT=8001
NODE_ENV=production
JWT_SECRET_KEY=088de58a693663a0d57c!@.
JWT_EXPIRES=false
DB_HOST=https://localhost:8001/
DB_HOST_TEST=https://localhost:8001/


SQL_DIALECT=mysql
DB_USER=corpo_user
DB_PASSWORD=mysql_api_corpo
DB_HOST=mysql.corpoindustri.com
DB_NAME=api_corpo
DB_PORT=3306

CATALOG_COVER_IMAGE_URL=/portada.jpg
CATALOG_BACKGROUND_IMAGE_URL=/fondo.jpg