MY_PORT=3000
NODE_ENV=development
JWT_SECRET_KEY=088de58a693663a09ace0d57c!@.
JWT_EXPIRES=false
DB_HOST=https://localhost:5007/
DB_HOST_TEST=https://localhost:5007/

SQL_DIALECT=mysql
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
DB_NAME=corpoindustri
DB_PORT=3306
